<div *ngIf="isUnsubmitted(); else createdMessage" class="container">
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required
                   [(ngModel)]="characterName" name="name" #name="ngModel" autocomplete="off">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required
            </div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Create character</button>
    </form>
</div>

<ng-template #createdMessage>
    <div>
        Created character with id {{characterCreated}}.
        <a routerLinkActive="active" routerLink="/home">Home</a>
    </div>
</ng-template>

