<div *ngIf="guildWars.length > 0">
    <h2>Past/Ongoing guild wars</h2>
    <ul *ngFor="let war of guildWars">
        <li *ngIf="war.numberOfBattles > 0; else statusNoLink">
            <a routerLinkActive="active" routerLink="/guildwar/{{war.id}}"> {{war.attackerName}} vs {{war.defenderName}} - {{statusMessage(war)}} - Battles: {{war.numberOfBattles}} </a>
        </li>
        <ng-template #statusNoLink>
            <li>
                {{war.attackerName}} vs {{war.defenderName}} - {{statusMessage(war)}} - Battles: {{war.numberOfBattles}}
            </li>
        </ng-template>
    </ul>
</div>

<div *ngIf="!isSending; else loading">
    <p *ngIf="message">{{message}}</p>
    <form (ngSubmit)="onSubmit()" #requestWarForm="ngForm">
        <div class="form-group">
            <label for="targetId">Target guild Id:</label>
            <input type="text" class="form-control" id="targetId" required [(ngModel)]="guildId" name="targetId" #targetId="ngModel" autocomplete="off">
            <div [hidden]="targetId.valid || targetId.pristine" class="alert alert-danger">
                Target id is required
            </div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!requestWarForm.form.valid">Request guild war</button>
    </form>
</div>

<ng-template #loading>
    <div>
        Loading...
    </div>
</ng-template>
