<div>
    {{war.attackerName}} vs {{war.defenderName}} - Battles: {{war.numberOfBattles}}
    <ul *ngFor="let battle of details.battles">
        <li>
            {{battle.attacker}} vs {{battle.defender}} - {{battle.result}}
        </li>
    </ul>
</div>
