<div class="container">
    <ul class="nav nav-pills">
        <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
        <li [hidden]="!auth.authenticated"><a routerLinkActive="active" routerLink="/character">Character menu</a></li>
        <li [hidden]="!(character.hasCharacter && character.character.guildId)"><a routerLinkActive="active" routerLink="/guild">Guild menu</a></li>
        <li [hidden]="!character.hasCharacter"><a routerLinkActive="active" routerLink="/battle">Battle menu</a></li>
        <li><a routerLinkActive="active" routerLink="/rankings">Rankings</a></li>
        <li [hidden]="auth.authenticated"><a routerLinkActive="active" routerLink="/login">Login</a></li>
        <li [hidden]="!auth.authenticated"><a (click)="logout()">Logout</a></li>
    </ul>
</div>

<div style="text-align:center">
    <h1>
        {{ title }}!
    </h1>
</div>

<router-outlet></router-outlet>
