<div>
    <div *ngIf="characterProvider.character; else createCharacter">
        <ul>
            <li><h3>{{characterProvider.character.name}}</h3></li>
            <li>Level: {{characterProvider.character.level}}</li>
            <li>Exp: {{characterProvider.character.exp}}</li>
            <li>Hp: {{characterProvider.character.hp}} </li>
            <li>Strength: {{characterProvider.character.strength}}</li>
            <li>Agility: {{characterProvider.character.agility}}</li>
            <li>Endurance: {{characterProvider.character.endurance}}</li>
            <li>Speed: {{characterProvider.character.speed}}</li>
        </ul>
    </div>
    <ng-template #createCharacter>
        <app-character-form></app-character-form>
    </ng-template>
</div>
