<div style="display:flex;">
    <div style="flex:50%;">
        <div *ngIf="!loading; else loadingScreen">
            <ul *ngFor="let target of potentialTargets">
                <li>
                    {{target.name}}[{{target.guildName}}] (Level: {{target.level}})
                    <button (click)="attack(target)">Attack</button>
                </li>
            </ul>
        </div>
        <ng-template #loadingScreen>
            Loading...
        </ng-template>
    </div>

    <div *ngIf="battleResultPresent" style="flex:50%;">
        Character {{battleResult.attacker}} vs Character {{battleResult.defender}}

        <div *ngIf="battleResult.result; else defenderWon">
            <h2>Attacker won.</h2>
        </div>
        <ng-template #defenderWon>
            <h2>Defender won.</h2>
        </ng-template>

        <ul *ngFor="let event of battleResult.events">
            <li>{{event}}</li>
        </ul>
    </div>
</div>
